.stuff2 {
  margin: 0 auto;
  width: 40%;
  text-align: center;
  border: 1px solid black;
  margin-bottom: none;
  padding: 2%;
}

.stuff2 img {
  width: 80%;
  /*height: 250px;*/
}

.stuff2 button {
  margin-bottom: 2%;
  min-width: 100px;
  height: 60px;
  font-size: 20px;
}
