.stuff2 {
  margin: 0 auto;
  width: 60%;
  text-align: center;
  border: 1px solid black;
  margin-bottom: none;
  padding: 2%;
}

main {
  flex: 1 0 auto;
}

.stuff2 img {
  width: 80%;
  padding: 2%;
  border: 1px solid black;
}

.stuff2 button {
  margin-bottom: 2%;
  min-width: 100px;
  height: 60px;
  font-size: 20px;
}

h2 h2:first-letter {
  text-transform: capitalize
}

@media only screen and (max-width: 700px) {
  .stuff2 {
    width: 80%
  }
}
