.topic {
  width: 100%
}

.mainTopic {
  /*box-shadow: 5px 5px 5px #D6DBDF;*/
  /*border-radius: 10px;*/
  border: 2px solid black;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin-top: 5%;
  margin-bottom: 5%;
  width: 200px;
  height: 200px;
}

.img {
  height: 60%;
}

.mainTopic img {
  width: 80%;
  object-fit: contain;
}

.topic h1 {
  margin-top: -2%;
}

.topicContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 60%;
  justify-content: space-around;
  margin: 0 auto;
}
