.stuff {
  margin: 0 auto;
  width: 40%;
  text-align: center;
  border: 1px solid black;
  margin-bottom: none;
}

.stuff img {
  width: 80%;
  /*height: 250px;*/
}

button {
  margin-bottom: 2%;
  width: 15%;
  height: 15%;
  font-size: 20px;
}
