


.stuff button {
  margin-bottom: 2%;
  min-width: 50px;
  min-height: 100px;
  font-size: 20px;
}

.stuff {
  margin: 0 auto;
  width: 40%;
  text-align: center;
  border: 1px solid black;
  margin-bottom: none;
  padding: 2%;
}


.stuff img {
  width: 80%;
  padding: 2%;
  border: 1px solid black;
}
