.sources {
    border: 5px solid black;
    padding: 1%;
    text-align: center;
    min-width: 100px;
}

.sources img {
  height: 40px;
  border-radius: 5px;
  margin-bottom: 2%
}

.homeContainer, .headerContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  margin: 4% auto;
}

.categories {
  border: 5px solid blue;
  padding: .2%;
  text-align: center;
  min-width: 100px
}

/*.categoriesHeader {
  display: flex;
  flex-direction: row;
  margin-bottom: 5%;
  /*height: 5%;*/
/*}*/
