.sources {
    box-shadow: 5px 5px 5px #D6DBDF;
    border-radius: 10px;
    border: 2px solid #D6DBDF;
    padding: 1%;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 10%;
}


.homeContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 60%;
  justify-content: space-around;
  margin: 4% auto;
}
