.footerContainer {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
  flex-wrap: wrap;
}


nav div {
  border: none;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 1;
  padding-top: 4%;
  padding-bottom: 4%;
  margin-left: 5%;
  margin-right: 5%;
}
