.searchForm {
  margin: 0 auto;
  vertical-align: middle;
  width: 60%;
}

input {
  width: 280px;
  height: 30px;
  font-size: 20px;
  margin-bottom: 2%;
  text-align: center;
  border: 2px solid black;
}

button {
  height: 40px;
  width: 100px;
  margin-left: .5%;
  border: 2px solid black;
  font-size: 20px;
}
