.mainNav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;s
  width: 100%;
  justify-content: center;
  margin: 4% auto;
}

.top {
  border: 5px solid black;
  padding: 5%;
  text-align: center;
}
